.app-header-top{
    font-family: cursive;
    /* font-size: -webkit-xxx-large; */
    display: inline-grid;
    height: 100px;
    margin-bottom: 80px
}
.app-header-top div {
   font-size: 48px;
}
.app-header-top div.app-header-top-sub {
    font-size: x-large;
    font-family: monospace;
    border-bottom: ridge;
}

.app-header-menu {
    position: absolute; 
    width: 100%;
    top: 130px;
}

@media only screen and (max-width: 800px) {
    .app-header-top div {
        font-size: 30px;
     }
     .app-header-top{
        margin-bottom: 30px;
    }
     .app-header-menu {
        position: absolute; 
        width: 100%;
        top: 0;
    }
    
     .app-header-menu button.navbar-toggler {
        border-color: transparent;
     }
     #basic-navbar-nav{
         background-color: #cccccc;
     }
     .app-su-kien-right {
        height: auto !important;
     }
  }

  /* .card {
    top: -450px;
    left: 180px;
    width: 18rem;
  } */

  .btn-primary {
    color: #fff;
    background-color: #6A453b;
    border-color: white;
  }

/* .img-fluid { 
    padding: 30px;
    height: 600px;
    width: 1440px;
}
.card-title h5 {
    border-bottom: solid;
    border-bottom-color: yellow;
} */

.app-image-box {
    width: 100%;
    text-align: left;
}
.app-image-content {
    width: 320px;
    height: 255px;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 15%;
    background-color: #ffffff;
    opacity: 0.8;
}

.app-image-content .card-title {
    line-height: 30px;
}

.app-menu-header .nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.app-h1 {
    border-bottom: 2px solid;
    width: 240px;
    margin: auto;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 15px;
}
/* .card-title {
    color: #4D4009;
} */

.app-su-kien-left {
    margin-bottom: 0!important;
    height: 40vh !important;
}
.app-su-kien-left img {
    height: 100% !important;
}
.app-su-kien-right{
    margin-bottom: 0!important;
    height: 40vh !important;
}
.app-su-kien-right img {
    /* height: 9vh!important; */
}
/* .app-su-kien .app-su-kien-content{
    height: 40vh;
} */


@media only screen and (max-width: 700px) {
     .app-su-kien-right {
        height: auto !important;
     }
     .app-su-kien-right img {
         height: 0 !important;
     }
  }
.img-fluid {
    padding-top: 50px;
}